* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center
}

h1 {
    text-align: center;
    margin: 22px 0 22px 0;
    color: rgb(69, 36, 236);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2 {
    text-align: center;
    margin-bottom: 22px;
    color: rgb(250, 110, 11);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid black;
    width: 650px;
    background-color: rgb(16, 245, 108);
}

ul {
    display: grid;
    place-items: center;
}

ul p {
    margin: 5px;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: rgb(240, 244, 243);
}

ul:hover {
    cursor: pointer;
    background-color: rgb(210, 53, 53);

}

@media(max-width:700px) {

    .board {

        width: 500px;
    }

    ul p {
        width: 55px;
        height: 55px;
    }
}

@media(max-width:520px) {
    .board {
        width: 400px;

    }

    ul p {
        width: 40px;
        height: 40px;
    }
}

@media(max-width:420px) {

    .board {

        width: 320px;
    }

    ul p {
        width: 30px;
        height: 30px;
    }
}